* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: rgb(152, 206, 236);
}

.background {
    background-color: #c3cccf;
    height: 100vh;
    padding-top: 1px;
    height: auto;
}

.title {
    color: rgb(241, 179, 8);
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: rgb(240, 86, 181);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    max-width: 300px;
}

.tile {
    border: 1px solid rgb(22, 21, 21);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #75100c;
}

.playerO {
    color: #32ec0d;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(237, 241, 245);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#reset {
    background-color: #9b1706;
}
