* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #dce284;
}

.background {
    background-color: #c7ecee;
    height: 100vh;
    padding-top: 1px;
    height: auto;
}

.title {
    color: #6A5495;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: #6A5495;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    grid-template-rows: 33.333333% 33.333333% 33.333333%;
    max-width: 300px;
}

.tile {
    border: 1px solid rgb(22, 21, 21);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #741815;
}

.playerO {
    color: #5ac745;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(237, 241, 245);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    color: black;
}

#reset {
    background-color: #e29349;
}
